@font-face {
	font-family: 'iAWriterDuospace';
	src: url('Font/iAWriterDuospace-Regular.woff2') format("woff2");
}
@font-face {
	font-family: 'ia writer duospace';
	src: url('Font/iAWriterDuospace-Bold.woff2') format("woff2");
}

::selection {
	background: #ab5e1b;
	color: white;
}

body {
margin-top: 3%;
background-color: #050505;
color: #d6d6d6;
}


#head {
	font-family: ia writer duospace;
	font-weight: 700;
}
.sidenav {
	margin-top: 6%;
	height: 85%;
	width: 15%;
	position: fixed;
	left: 20%;
	z-index: 1;
	background-color: #050505;
	list-style: none;
	font-family: iAWriterDuospace;
	font-weight: 400;
}

li {
	font-family: ia writer duospace;
	list-style: none;
}

a:link {
	color: #ab5e1b;
}
a:visited {
	color: #ab5e1b;
}

img {
	max-width: 540px;
}

#center {
	margin-left: 35%;
	width: 580px;
	font-family: iAWriterDuospace;
	font-weight: 400;
	font-size: 1.1em;
}

.belowpic {
	font-size: .8em;
}